<h3 class="my-4 underline">Home</h3>
<hr/>
<div class="row">
    <div class="col-12 text-center">
        <span><strong>Weeknummer: {{startDate | date:'w'}}</strong></span><br>
        <button class="btn btn-secondary mx-4" (click)="onWeekSelected(-7)">&larr;</button>
        <span>{{startDate | date}} t/m {{endDate | date}}</span>
        <button class="btn btn-secondary mx-4" (click)="onWeekSelected(7)">&rarr;</button>
    </div>
</div>
<div class="row g-2 mt-4 mb-2">
    <div class="offset-md-5 col-md-1">
        <div class="form-floating">
        <input type="number" class="form-control" id="weeknumber" placeholder="Week" #week>
        <label for="weeknumber">Week</label>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-floating">
        <input type="number" class="form-control" id="year" placeholder="Jaar" #year>
        <label for="year">Jaar</label>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="offset-md-5 col-md-2">
        <button class="btn btn-primary" (click)="onWeekAndYearSearched(week.value, year.value)">Zoeken</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12 my-4">
        <table class="table table-hover caption-top">
            <caption>Lijst van cursussen</caption>
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Titel</th>
                <th scope="col">Code</th>
                <th scope="col">Startdatum</th>
                <th scope="col">Duur</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let courseInstance of courseInstances">
                <th scope="row">{{courseInstance.id}}</th>
                <td>{{courseInstance.course.title}}</td>
                <td>{{courseInstance.course.code}}</td>
                <td>{{courseInstance.startDate | date}}</td>
                <td>{{courseInstance.course.duration}} dagen</td>
                </tr>
            </tbody>
            </table>
    </div>
</div>